nav a {
	font-size: 22px;
	padding: 2px; 
	border-right: solid black;
	border-left: solid black;
	border-width: 8px;
  color: black;
}
nav {
	border: solid;
	border-width: 8px;
	border-color: black;
	background-color: blue;
}