/* Navigation bar container */
nav {
	display: flex; /* Ensures links are aligned in a row */
	justify-content: space-around; /* Adjust spacing between links */
	align-items: center; /* Vertically center the links */
	border: solid;
	border-width: 8px;
	border-color: dimgray;
	background-color: lightcyan;
	padding: 10px; 
	margin: 0; 
  }
  
  /* Navigation links */
  nav a {
	font-size: 18px; /* Adjust font size */
	padding: 5px 15px; /* Add padding around the text */
	text-decoration: none; /* Remove underline */
	color: black; /* Text color */
	font-weight: bold;
	border-width: 8px; /* Adjust border width */
  }
  
  nav a:last-child {
	border-right: none; /* Remove border from the last link */
  }
  
/* Main content specifications/configuration */
main div {
	background-color: lightcyan;
	border: solid;
	border-color: dimgrey;
	width: 100%;
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 15px;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #c1f6d6; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
header {
	font-family: Arial, sans-serif;
    background-color: #c1f6d6;
    justify-content: center;
    align-items: center;
    margin: 0;
	width: auto;
}
  h1 {
    text-align: center;
    color: #333;
  }
  p {
    font-size: 18px;
    margin: 10px 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  table, tr, th, td {
    border: solid black;
    background-color: antiquewhite;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00a510;
  }
  
  .switch {
    text-align: center;
    margin-top: 15px;
  }
  
  .switch a {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .switch a:hover {
    text-decoration: underline;
  }
  
  #hidden {
    display: none;
  }